


/* We just give you a Gmaps with random width/height */
#map {
  width: 45%;
  align-self: flex-end;

}

#map-sticky{
  position: sticky;
  top: 0;
  height: 100vh;
  margin-left: 100px;
  padding-left: 100px;
}

#property{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px ;
  padding: 15px;
  flex-grow: 1;
}

.grid{
  display: flex;
}

.information {
  display: flex;
  justify-content: space-between;
}
