// Specific CSS for your home-page
.banner h1 {
  margin-bottom: 4%;
}

// Carousel
.list-inline{
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}


// Login
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-login {
  width: 400px;
  margin-bottom: 50px;
}
// Signup
.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-signup {
  width: 400px;
  margin-bottom: 50px;
}

.btn-group {
  color: white;
}

#simple-home-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
#simple-home-filter-opts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .btn-group:nth-child(odd) {
    margin-left: 3%;
    margin-right: 3%;
  }
  padding-bottom: 2%;
}

h4 {
  font-size: .99rem;
}
.simple-filter {
  border: 1px solid rgb(71, 71, 71);
  border-radius: 6px;
  margin-top: 6%;
  margin-bottom: 6%;
  h2 {
    padding: 2%;
  }
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(71, 71, 71);
    margin: 1em 0; padding: 0;
}

.themes, .category, .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .cooking, .wellness, .luxury, .transport, .beach, .nature, .t1, .t2, .t3{
    text-align: center;
  }
  .area4u-card-img {
    margin: auto;
    border-radius: 4px;
  }
  #btn {
    width: 95%;
    margin-top: 3%;
    border-radius: 4px;
  }
  img {
    width: 95%;
    transition: transform .5s ease;
  }
  .area4u-card-img {
    height: 300px;
     overflow: hidden;
  }
  .area4u-card-img:hover {
    transform: scale(1.03);
  }
  margin-bottom: 3%;
}

.testimonials {
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
  padding: 1%;
  padding-top: 2%;
}

.options {
  display: grid;

}


//transport beach nature
