// Specific CSS for your home-page


// Carousel
.list-inline{
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

// Cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  border-radius: 15px;
}

// Login
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-login {
  width: 400px;
  margin-bottom: 50px;
}
// Signup
.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-signup {
  width: 400px;
  margin-bottom: 50px;
}
