// Specific CSS for your home-page


// Carousel
.list-inline{
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

// Cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  border-radius: 25px;
}

// Login
.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-login {
  width: 400px;
  margin-bottom: 50px;
}
// Signup
.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form-signup {
  width: 400px;
  margin-bottom: 50px;
}

.area4u-card-img{
  border-radius: 25px;
}

.btn-group {
  color: white;
}

#simple-home-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
#simple-home-filter-opts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .btn-group:nth-child(odd) {
    margin-left: 3%;
    margin-right: 3%;
  }
  padding-bottom: 2%;
}

h4 {
  font-size: .99rem;
}
.simple-filter {
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  margin-top: 6%;
  margin-bottom: 6%;
  h2 {
    padding: 2%;
  }
}
