<footer class="footer mt-auto py-3 footer-background">
  <div class="container">
    <span class="text-white footer newsletter">Join Our Newsletter</span>
  </div>
  <div class="container">
    <span class="text-white footer follow">Follow Us</span>
        <a href="#" class="fa fa-tiktok"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
  </div>
</footer>
