<footer class="footer mt-auto py-3 footer-background sticky-bottom">
  <div class="container text-center">
    <a href="/newsletter">Join Our Newsletter</a>
  </div>
   <div class="container"></div>
  <div class="container text-right">
    <span class="text-white">Follow Us</span>
        <a href="#"><i class="fab fa-tiktok"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
