<footer class="footer mt-auto py-3 footer-background sticky-bottom">
  <div class="container text-center">
    <span class="text-white">Join Our Newsletter</span>
  </div>
   <div class="container"></div>
  <div class="container text-right">
    <span class="text-white">Follow Us</span>
        <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
  </div>
</footer>
