<form>
  <div class="form-row">
    <div class="col-7">
      <input type="text" class="form-control" placeholder="Location">
    </div>
    <div class="col">
      <input type="date" class="form-control" placeholder="Check in">
    </div>
    <div class="col">
      <input type="date" class="form-control" placeholder="Check out">
    </div>
    <div class="col">
      <input type="integer" class="form-control" placeholder="Guests">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
