<h1>Welcome <b>back</b></h1>
<div class="textbox-underline">
  <h3>Your profile</h3>
</div>
<div class="profileinfo-flex">
  <div>
    <h5>Firs and last name</h5>
    <h5>Date of birth</h5>
  </div>
  <div>
    <h5>Example name</h5>
    <h5>Example date of birth</h5>
  </div>
</div>

<div class="textbox-underline">
  <h3>Manage your <b>bookings</b></h3>
</div>
