<form action="/newsletter" method="POST" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="Response field">Email address:</label><br>
  <input type="text" id="response-field" name="email"><br>
  <input type="submit" value="Submit">
</form>
