<div class="page-padding-bottom">
  <h1 class = "text-center profile-padding-y">Welcome <b>back</b></h1>
  <div class="profile-content-center">
    <div class="textbox-underline">
      <h2>Your <strong>profile</strong></h2>
        <h5 id='edit-profile-a'><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></h5>
    </div>
    <div class="profile-info">
      <div>
        <h5>First and last name </h5>
        <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
      </div>
      <div>
        <h5>Email <strong>address</strong></h5>
        <h3><%= current_user.email %></h3>
      </div>
       <div>
        <h5>Am I an <strong>owner</strong>? </h5>
        <% if current_user.owner_profile? %>
          <h3>Yes</h3>
        <% else %>
          <h3>No</h3>
        <% end %>
      </div>
    </div>

  </div>
</div>
