.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  color: white;
}

.dropdown .show {
  height: 30px;
}

.dropdown-menu {
  a {
    background-color: white;
    color: black
  }
  a:hover {
    background-color: rgb(141, 141, 141);
  }
}

#dropdownMenuLink {
  background-color: white;
  color: black;
  margin-left: 80%;
  height: 90%;
}
