// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  width: auto;
  margin: 0 auto;
  .btn {
    width: 250px;
    display: inline-block;
  }
}
// CARD IS DIFFERENT FROM IMAGE

// Button
// Testimonial
.flex-card {
  width: 250px;
}


body {background-color: black;}

body {
  color: white;

  a {
    color: blue;
  }
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

.form-actions {
  input {
    background-color: white;
  }
}

.profileinfo-flex {
  display: flex;
  margin-bottom: 64px;
  div {

    margin-right: 8px;
  }
}

.textbox-underline {
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 0.1px solid white;
}
